@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --main-color: #1B1464;
    --color-primary: #0457F1;
    --color-secondary: #0087F2;
    --color-light: #48EAFF;
    --color-lighter: #84C0FE;
    --text-color: #444444;
    --para-text-size: .9rem;
}

* {
    top: 0%;
    left: 0%;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

section {
    margin: 2.8rem auto;
    padding: 1rem 0 0;
    /* transition: all 50000ms ease-in; */
}

h1 {
    text-align: center;
    padding: 0 0 1rem;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
}

.sidebar {
    height: 100%;
    position: fixed;
    background-color: #1b1464f5;
    z-index: 100;
    transition: width 300ms;
    display: none;
}

.sidebar-brand {
    padding: 2rem;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.sidebar-brand span.la-times {
    font-size: 2rem;
    cursor: pointer;
}

.sidebar-menu ul {
    margin-top: 1.7rem;
    justify-content: center;
    align-items: center;
}

.sidebar-menu li {
    margin-bottom: 1.7rem;
    /* padding-left: 2.5rem; */
    list-style-type: none;
    text-align: center;
}

.sidebar-menu a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

#nav-toggle:checked+.sidebar {
    width: 100%;
    display: block;
    transition: right 600ms;
}

nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 2rem;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
}

#nav-toggle {
    display: none;
}

nav h2 label {
    display: none;
}

nav h2 {
    color: #222;
    margin: 0%;
}

nav label span {
    font-size: 1.7rem;
    padding-right: 1rem;
    cursor: pointer;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.nav-wrapper ul {
    vertical-align: middle;
    margin: 0%;
}

.nav-wrapper li {
    list-style-type: none;
    display: inline;
    vertical-align: middle;
    margin: 0%;
    padding: 0%;
}

.nav-wrapper li a {
    padding: 1rem 1rem;
    font-size: .9rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
}

.nav-wrapper li a:hover {
    color: var(--main-color);
}

#header {
    padding-top: 70px;
    width: 100%;
    min-height: 90vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: 50%;
    color: #fff;
    display: flex;
    align-items: center;
}

.container .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header-content h3 {
    font-size: 1.4rem;
}

.container .header-content h2 {
    font-size: 2.5rem;
}

.container .header-content .header-img img {
    width: 600px;
}

.grid .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

#aboutus .container img {
    width: 500px;
}

#whyus .container img {
    width: 400px;
}

.container .recent-flex .flex-content {
    display: flex;
    align-items: center;
    /* text-align: left; */
    margin-bottom: 1rem;
}

.container .grid-content p,
.container .flex-content p {
    font-size: var(--para-text-size) !important;
    margin-bottom: 0%;
    line-height: 1.3rem;
    letter-spacing: 1px;
}

.container .grid-content h4,
.container .flex-content h4 {
    margin: 0%;
    font-size: 1.4rem;
}

.container .recent-flex .flex-content span {
    margin-right: 1rem !important;
}

.container .recent-grid .grid-content span,
.container .recent-flex .flex-content span {
    font-size: 2.5rem;
    padding: .5rem;
    color: var(--color-lighter);
    margin: 0 0 1rem;
}

.container .recent-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
}


/* CONTACT US */

.contact-us section h1 {
    font-size: 3rem;
}

#map {
    text-align: center;
    width: 100%;
    height: 500px;
}

footer {
    background: #444F5D;
}

footer * {
    margin-bottom: 0%;
    text-align: center;
}

footer section.apply {
    background: #000000;
    text-align: center;
    color: #fff;
}

footer section.copy-right {
    background: #353D4C;
    text-align: center;
    font-size: 11px;
    color: #ffffff99;
    letter-spacing: 1px;
}

footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    /* justify-content: center; */
}

footer .footer-grid .grid-content h5 {
    margin: 0rem 0rem 1.5rem;
    color: #fff;
}

footer .grid-content .form-group {
    margin: .5rem auto !important;
}

footer .grid-content .form-group textarea,
footer .grid-content .form-group input {
    width: 100%;
    outline: 0ch;
    color: #ffffff99;
    padding: .5rem .5rem;
    font-size: .9rem;
    background: transparent;
    border: 1px solid #ffffff99;
    text-align: left;
}

button {
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    padding: .5rem 1rem;
    background-color: var(--color-secondary);
}

footer .footer-grid .grid-content div {
    margin-bottom: 1rem;
}

footer .footer-grid .grid-content h6 {
    font-size: .9rem;
    color: #ffffff99;
    padding-bottom: .4rem;
    margin: 0%;
    /* border-bottom: 1px solid #ffffff99; */
}

footer .footer-grid .grid-content .social-handle a:hover,
footer .footer-grid .grid-content h6 a:hover,
footer .footer-grid .grid-content h6:hover {
    color: #ffffff !important;
}

footer .footer-grid .grid-content h6 a {
    color: #ffffff99;
}

footer .footer-grid .grid-content .social-handle a {
    color: #ffffff99;
    padding: 0rem .4rem;
    border: 1px solid #ffffff99;
    font-size: 1.5rem;
    margin: 0rem .2rem;
}

footer .footer-grid .grid-content div p {
    color: #ffffff99;
    font-size: .8rem !important;
    text-align: left;
}


/* MEDIA QUERY */

@media screen and (max-width: 991px) {
    .container .header-content h3 {
        font-size: 1.3rem;
    }
    .container .header-content h2 {
        font-size: 2.3rem;
    }
    .container .header-content .header-img img {
        width: 450px;
    }
    .container .recent-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid .container {
        grid-template-columns: 100%;
    }
    footer .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 900px) {
    .nav-wrapper {
        display: none;
    }
    nav h2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
    }
    .hamburger {
        display: flex;
    }
    .container .header-content h3 {
        font-size: 1rem;
    }
    .container .header-content h2 {
        font-size: 2rem;
    }
    .container .header-content .header-img img {
        width: 450px;
    }
}

@media screen and (max-width: 900px) {
    .container .header-content .header-img img {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .container .header-content {
        display: block;
        text-align: center;
    }
    .container .header-content .header-img img {
        display: none;
    }
    #whyus .container {
        display: block;
    }
    .container .recent-flex .flex-content {
        display: block;
        align-items: center;
        text-align: center;
    }
    .container .recent-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid .container {
        grid-template-columns: 100%;
    }
    #aboutus .container img {
        width: 350px;
    }
    #whyus .container img {
        width: 250px;
    }
    footer .footer-grid {
        grid-template-columns: 100%;
        grid-gap: 10px;
    }
}